/* ******************************* ESTILOS BASE Y MAQUETACIÓN GENERAL ********************************** */

html {

    background-color: rgb(255, 255, 255);
    /*Color de fondo para la web*/
    min-width: 1000px;
    /*Ancho minimo pensando en ventanas de pc*/

}

body {

    background-color: rgb(230, 230, 230);
    /*Color de fondo para el body*/
    width: 80%;
    /* Ancho del cuerpo limitado al 80% del ancho de HTML */
    margin: auto;
    /* Centra el cuerpo horizontalmente en la página */
    min-height: 80vw;
    /* Altura mínima del cuerpo (80% del alto de la ventana) para asegurar visibilidad */
    font-family: 'Open Sans', sans-serif;
    /* Aplica la fuente principal a todo el texto del de la web */

}

/* ***************************** HEADER: CABECERA Y NAVEGACIÓN ===************************************* */

header {

    display: flex;
    /* Habilita Flexbox: Coloca a sus hijos (Logo y Menú/Redes) uno al lado del otro */
    align-items: center;
    /* Centra los elementos hijos verticalmente (logo y contenedor de menú) */
    justify-content: space-between;
    /* Separa los elementos hijos al máximo: Logo a la izquierda, Menú a la derecha */
    padding: 2% 3%;
    /* Espacio interno alrededor del contenido del header */
    height: 100px;
    /*Tamaño en altura para la cabecera*/
}

header img {

    width: 80%;
    /* El ancho del logo es el 80% del ancho de su padre */

}

header div {
    /* Selector para el contenedor que agrupa Redes Sociales y el NAV principal */

    display: flex;
    /* Habilita Flexbox: Coloca a sus hijos (Logo y Menú/Redes) uno al lado del otro */
    flex-direction: column;
    /*  Apila sus propios hijos (Redes y NAV) verticalmente (uno encima del otro) */
    /* Permite que este contenedor tome todo el espacio restante después de que el logo ha tomado su tamaño */
    flex-grow: 1;
    align-items: flex-end;
    /* Asegura que los hijos (Redes y NAV) se alineen al extremo derecho de este div */
    height: 100px;
    /* Altp para menu/redes*/
}


header div div {
    /* Selector para el contenedor de las redes sociales */

    margin-right: 10px;
    /* Añade un margen a la derecha para separarlo del borde, aunque align-items: flex-end lo controla */
}

header div div ul {

    display: flex;
    /* Habilita Flexbox para alinear las listas de iconos de Redes Sociales horizontalmente */
    list-style: none;
    /* Elimina los puntos de la lista */
    margin: 0;
    /* Elimina el margen por defecto de la lista */
    padding: 0;
    /* Elimina el padding por defecto de la lista */
}

header div div li:hover {
    /*Para que se produzca cambio al pasar el raton por encima*/

    border-top-style: solid;
    /* Define el estilo del borde */
    border-top-width: 3px;
    /* Define el grosor del borde */
    border-top-color: #D84C00;
    /* Define el color del borde */


}

header div div ul li {

    margin-left: 5px;
    /* Espacio entre cada icono de red social */

}

header div div ul li img {

    width: 30px;
    /* El ancho de los iconos de redes sociales*/
}

nav {
    /* Estilos para el NAV principal (Contiene los botones) */

    display: flex;
    /* Habilita Flexbox para alinear los enlaces de los botones horizontalmente */
    flex-grow: 1;
    /* Permite que el NAV crezca para asegurar que use el espacio necesario dentro del contenedor padre */
    justify-content: flex-end;
    /* Asegura que los botones se peguen al extremo derecho del NAV */
    height: 50px;
    /* Altura */
    width: 100%;
    /*Anchura*/
}

nav button {

    display: block;
    /* Permite aplicar margin y padding correctamente a los enlaces */
    margin-right: 10px;
    margin-left: 10px;
    /* Margenes de separación entre los enlaces de los botones */
}

nav button {
    /* Estilos para los BOTONES */

    background-color: #0265A2;
    /* Color de fondo del botón */

    padding: 1% 1%;
    /* Padding relativo  */
    border-radius: 8%;
    /* Borde redondeado */
    border: 0px;
    /* Elimina el borde  */

}

nav button a {

    color: white;
    /* Color del texto*/
    font-size: 1.3em;
    /* Tamaño de fuente relativo al tamaño del padre */
    font-weight: 700;
    /*Grosor de la fuente*/
    text-decoration: none;
    /*Quita el subrallado*/

}

button:hover {

    background-color: #D84C00;
    /* Cambia el color de fondo al pasar el ratón */
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    /* Añade una sombra sutil al pasar el ratón */
}

/* ************************************ HERO SECTION ****************************************** */

.hero {

    background-image: url('/jpg/imagen cabecera interoriores.jpg');
    /* Establece la imagen de fondo para la sección hero */
    height: 90px;
    /* Altura fija  */
    background-position: center;
    /* Centra la imagen de fondo horizontal y verticalmente */
    background-size: cover;
    /*La imagen de fondo cubre todo el hero*/
    display: flex;
    /*Habilita flex box*/
    align-items: center;
    justify-content: center;
    /*Para lainear su contenido*/

}


/* ******************************** TITULOS ************************************** */


h1 {

    text-align: center;
    /* Centra el texto del título horizontalmente */
    color: rgb(0, 0, 0);
    font-size: 2em;
    /* Tamaño de fuente relativo a la fuente del elemento padre (2em) */
    text-shadow: 0 0 20px white;
    /* Resplandor blanco alrededor del texto para que se vea en fondos coloridos */
    font-family: Oswald;
    /* Fuente para el título */
}



/* ********************** CONTENEDOR PARA EL FORMULARIO Y LA IMAGEN ********************************* */

.contenedor {

    display: flex;
    /* Habilita Flexbox: Coloca el formulario y la imagen uno al lado del otro */
    align-items: center;
    /* Centra los elementos hijos verticalmente */
    padding: 10px 20px;
    /* Espacio interno */
}



/* Estilos para el contenedor del formulario */
.c-formulario {

    background-image: url("/png/blog.png");
    /* Fondo con una imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen de fondo */
    background-size: cover;
    /* Asegura que la imagen cubra todo el fondo del formulario */
    width: 50%;
    /* El formulario ocupa el 50% del ancho del contenedor  */
    height: 1000px;
    margin: 10px 2px 10px 5px;
    /* Margen alrededor del formulario*/
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    /* Sombra de caja para darle profundidad */
    font-size: 1.3em;
    /* Tamaño de fuente base relativo para el contenido del formulario */



}

h2 {

    text-align: center;
    /* Centra el texto del subtítulo */
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    /* Tamaño de fuente relativo */
    font-family: Oswald;
    /* Fuente específica */
    margin-top: 80px;
    /* Margen superior Para no tapar las anillas de la imagen de fondo */
}

/* Estilos para los divs internos que contienen cada campo  */
.c-formulario div {

    margin: 5% 10% 5% 10%;
    /* Márgenes para espaciar los campos internamente  */
}

.requerido label::before {

    content: "*";
    /*Para diferenciar los campos requeridos*/

}

label {
    /* Estilos para las etiquetas */
    margin-right: 10%;
    /* Margen a la derecha de la etiqueta */
    height: 100px;
    /* Altura forzada  */
}

input,
select,
textarea {
    /* Estilos generales para inputs, selects y textareas */

    width: 100%;
    /* Ocupa todo el ancho disponible en su contenedor */
    height: 2em;
    /* Altura de 2 veces el tamaño de la fuente actual (2em) para campos de una línea */
    border-color: #0265A2;
    /* Color del borde */
    border-style: dotted;
    /* Estilo del borde punteado */
    font-size: 0.8em;
    /* Tamaño de fuente más pequeño que el contenedor  */
}


input:focus,
select:focus,
textarea:focus {
    /* Estilos al recibir el foco  */

    border-style: double;
    /* Cambia el estilo del borde a doble al recibir el foco */
    border-color: #D84C00;
    /* Cambia el color del borde al recibir el foco */
    outline: none;
    /* Elimina el borde de foco predeterminado del navegador  */
    border-width: 0.4em;
    /* Aumenta el grosor del borde de foco */
}

textarea {
    /* Sobrescribe la altura para el textarea (para que sea más alto) */

    height: 10em;
    /* Altura de 10 veces el tamaño de la fuente */
}

/* ************************************* BOTON DE IMAGEN *************************************** */

.pie-form {

    color: red;
    display: flex;
    /* Habilita Flexbox para alinear los enlaces de los botones horizontalmente */
    justify-content: space-between;
    /* Asegura que los botones se peguen al extremo derecho del NAV */
    vertical-align: middle;

}


.boton-imagen {

    background-color: transparent;
    /* Elimina el color de fondo del botón para que solo se vea la imagen */
    background-image: url("/png/apuntate.png");
    /* Imagen de fondo predeterminada */
    background-size: contain;
    /* Ajusta la imagen al tamaño del botón */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen de fondo */
    width: 200px;
    /* Ancho  */
    border: none;
    /* Quita el borde del boton*/
}

.boton-imagen:hover {

    background-image: url("/png/apuntate hover.png");
    /* Cambia la imagen de fondo al pasar el ratón */
    background-color: transparent;
    /* Asegura que el color de fondo siga siendo transparente */
    box-shadow: 0 0 0 0;
    /* Elimina la sombra heredada al pasar el raton*/
}

.pie-form p {

    width: 50%;
    /* Define la anchura de los parrafos a la mitad de su padre*/
    font-size: 0.8em;
    text-align: center;

}

/* ******************** IMAGEN EN EL CONTENEDOR (LA DE AL LADO DEL FORMULARIO) ********************************** */

.imagen_jugando img {

    margin-left: 40px;
    width: 90%;
    /* La imagen ocupa el 90% del ancho de su contenedor  */
}

/* ******************************************* FOOTER ************************************************************************** */

footer {

    height: 80%;
    /* Altura  */
    background-color: rgb(0, 0, 0);
    color: white;
    /*COLOR DE LOS TEXTOS EN EL PIE*/
    display: flex;
    /* Habilita Flexbox: Coloca sus hijos uno al lado del otro */
    align-items: center;
    /* Centra los elementos hijos verticalmente */
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos del footer */
    padding: 10px 20px;
    /* Espacio interno */

}

/* Estilos para las secciones internas del footer */
footer div {

    width: 25%;
    /* Cada sección ocupa el 25% del ancho del footer */
    text-align: center;
    /* Centra el texto dentro de la sección */
}

/* Logo dentro del footer  */
footer img {

    width: 50%;
    /* La imagen ocupa el 50% del ancho de su contenedor  */
    /* Márgenes */
    margin-top: 1%;
    margin-left: 10px;
}

footer div ul {

    display: flex;
    /* Habilita Flexbox para alinear los elementos de lista horizontalmente */
    align-items: center;
    justify-content: space-between;
    list-style: none;
    /* Elimina los puntos de la lista */
}

footer div li:hover {

    border-bottom-style: solid;
    /* Define el estilo del borde  */
    border-bottom-width: 1px;
    /* Define el grosor del borde */
    border-bottom-color: #D84C00;
    /* Define el color del borde */

}

footer div p {

    margin-left: 10px;
    /* Margen a la izquierda para el texto del párrafo */
}

footer div p a {
    /*Estilos para los enlaces del pie*/

    text-decoration: none;
    color: white;

}